body{
    background-color: rgb(173, 172, 172);
}

.parent{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

#hero{
    background-color: white;
    padding: 20px;
    border-radius: 14px;
    width: 50%;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.table-parent{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.content{
    background-color: white;
    padding: 20px;
    border-radius: 14px;
    width: 50%;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.course{
    padding: 0%;
    border-collapse: collapse;
}

.thead{
    background-color: rgb(173, 206, 117);
}

th, td{
    padding: 5px;
    border: 1px solid #0a0a0a;
}

.Dropped{
    color: rgb(253, 70, 70);
}

.input{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.inputdata{
    background-color: white;
    padding: 20px;
    border-radius: 14px;
    width: 50%;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

#select{
    width: 220px;
}

.submit{
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(110, 209, 12);
}
