body{
  text align: center;
  align-items: center;
  background-color: skyblue;
  color: black;
  border: 2px ;
  
  th{
  backdround-color: mintcream;
  padding: 10px;
 
}


table{
  alig-items: center;
  margin-left:20px
  color: black;
}



